* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.nav-section {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    width: 100%;
}
.nav-item {
    align-self: center;
}
div a {
    padding: 0 5px;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
}
a:hover {
    color: blue;
}
#logo {
    font-size: 3em;
    padding: .2em 0;
    font-family: 'Montserrat', sans-serif;
}
/*#right-side {*/
/*    margin-left: auto;*/
/*}*/
/*#left-side {*/
/*    margin-right: auto;*/
/*}*/
.material-icons {

}
