#orange {
    color: orange;
}

/* 1. Identify the element you want to style */
/* tag name - will get applied to ALL of that tag*/
p {
    color: green;
    background-color: lavender;
    border: 4px dotted green;
    text-decoration: underline;
    font-size: 24px;
    font-family: 'Luxurious Script', cursive;
}

/* .classValue - apply to all elements with that class name*/
.purple {
    color: purple;
}

/* #idValue - applied to only the element with that unique id value*/
#banana {
    color: saddlebrown;
}

/*SYNTAX*/
selector {
/*    apply css styling here */
    property: value;
}


/**/
a {
    /*text-decoration: none;*/
}

.animals {
    border: 3px solid black
}

ul {
    border: 1px solid blue;
    margin: 5px;
}

ul a {
    color: magenta;
}

#unique-ul * {
    color: lightblue;
}

#unique-p {
    color: black;
    border: none;
    background-color: lightpink;
}

#unique-ul a:hover {
    color: white;
    background-color: black;
}

h3 {
    border: 5px dotted lightpink;
    border-radius: 15px ;
}





