body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

.message-info {
    background-color: #d0d0f6;
    color: #020288;
}

.message-success {
    background-color: #d3ecd3;
    color: #024802;
}

.message-warning {
    background-color: #fcfcaf;
    color: #838306;
}

.message-error {
    background-color: #eab3b3;
    color: #590505;
}